<div class="center-form-div">
  <h2 class="devise-form-header">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.label :email, class: "text-lg" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise-input' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "devise-link" %>
    </div>
  <% end %>

  <div class="flex gap-8">
    <%= render "devise/shared/links" %>
  </div>
</div>